{% extends 'base.html.twig' %}

{% block title %}Modifier un livre{% endblock %}

{% block body %}
    <h1>Modifier un livre</h1>

    {{ include('admin/_form_book.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_app_book_index') }}">Retour à la liste</a>

    {{ include('admin/_delete_form_book.html.twig') }}
{% endblock %}
