h1 {
  margin-top: 2%;
}
.table{
  width: 80%;
  margin: auto;
}

.tableau {
  border: 1px solid black;
  height: 5em;
}
.mini {
  width: 50px;
}
.maxi {
  width: 500px;
}
.boxContain {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

}
.box {
  width: 30%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5%;
  text-align: center;
}

.js-night {
    background-color: black;
}

.js-night button {
  background-color: black;
  color: white;
}
.js-night h1 {
  color: white;
}